<div class="customer-list">

  <div class="page-header">
    <div class="row">
      <h2 class="col-xs-10">Clientes</h2>
      <button (click)="onNew()" class="col-xs-2 btn btn-primary btn-raised">Novo</button>
    </div>
  </div>

  <customer-detail *ngIf="currentCustomer !== null" (onChange)="onChange($event)" [customer]="currentCustomer" (onClose)="onCloseDetail($event)"></customer-detail>

  <customer-filter (onChange)="onFilter($event)"></customer-filter>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>E-mail</th>
        <th>Nascimento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="error !== null">
        <td colspan="4">{{error.message}}</td>
      </tr>
      <tr class="customer-row" *ngFor="let customer of customers"
        [class.selected]="customer.id === (currentCustomer || {id:0}).id"
        [class.disabled]="!customer.enabled"
        (click)="onSelect(customer)">
        <td>{{customer.name}}</td>
        <td>{{customer.federalId}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.birth | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</div>
