<section class="customer-detail">
  <div class="field">
    <label>Nome completo</label>
    <input [(ngModel)]="customer.name" type="text" placeholder="Dino da Silva Sauro" required />
  </div>
  <div class="field">
    <label>CPF</label>
    <input [(ngModel)]="customer.federalId" type="number" placeholder="12312312312" maxlength="11" minlength="11" required />
  </div>
  <div class="field">
    <label>E-mail</label>
    <input [(ngModel)]="customer.email" type="email" placeholder="dino@silvasauro.me" required />
  </div>
  <div class="field">
    <label>Telefone</label>
    <input [(ngModel)]="customer.phone" type="number" placeholder="4199887766" minlength="10" maxlength="11" required />
  </div>
  <div class="field">
    <label>Data de Nascimento</label>
    <input [(ngModel)]="customer.birth" type="date" placeholder="01/01/1970" required />
  </div>
  <div class="field inline">
    <input [(ngModel)]="customer.enabled" type="checkbox" checked />
    <label>Ativo?</label>
  </div>
  <div class="actions">
    <button (click)="onSave(customer)">Salvar</button>
  </div>
  <p>{{message}}</p>
</section>