.page-header {
  border-bottom: none;
}

.table-striped tbody tr:nth-of-type(odd){
  background-color: rgba(0,150,136,0.05);
}
.table-hover tbody tr:hover{
  background-color: rgba(0,150,136,0.1);
}

.table-striped tbody tr.customer-row.disabled {
  color: rgba(0,0,0,0.5);
}
.table-striped tbody tr.customer-row.selected {
  background-color: #009688;
  color: #fff;
}
