.well {
  background-color: #ffffff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 10px;
}

.well .form fieldset legend {
  border: none;
  margin-bottom: 1em;
}

.form-group.actions {
  margin-top: 20px;
  margin-bottom: 0px;
}